.footer {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer > p {
  padding-top: 4rem;
  width: 19rem;
  height: 15rem;
  font-size: large;
  font-family: monospace;
  font-weight: 600;
  font-style: normal;
}
