.footer {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer > p {
  padding-top: 4rem;
  width: 19rem;
  height: 15rem;
  font-size: large;
  font-family: monospace;
  font-weight: 600;
  font-style: normal;
}

/* footer wrapper start */
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
  background-color: var(--purple);
  padding: 6rem 12rem 12rem 16rem;
  gap: 20px;
}
