@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* BASE */
:root {
  --black-purple: #2e2d31;
  --darkest-purple: #220b5e;
  --dark-purple: #3b1d98;
  --purple: #513779;
  --light-purple: #7654b4;
  --lightest-purple: #967ecb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* GENERIC */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
button {
  font-family: "Inconsolata", monospace;
}

.box-image {
  width: 70%;
}

/* COLOR UTILITY CLASSES */

.bg-black-purple {
  background-color: var(--black-purple);
}

.bg-darkest-purple {
  background-color: var(--darkest-purple);
}

.bg-dark-purple {
  background-color: var(--dark-purple);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-light-purple {
  background-color: var(--light-purple);
}

.bg-lightest-purple {
  background-color: var(--lightest-purple);
}

.text-light {
  color: white;
}

/* HEADER */

.page-header {
  display: flex;
  flex-direction: row;
  width: 100%;

  .header-box {
    flex: 1;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-title {
      font-size: 4rem;
    }
  }

  .header-right-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .container-row {
      display: flex;
      flex-direction: row;
    }
  }
}

/* HERO */

.hero-section {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  ::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(21, 7, 56, 0.5);
    z-index: -1;
  }

  .hero-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .hero-title {
    z-index: 2;
    font-size: 6rem;
    color: white;
  }
}

/* MAIN */

.main-section {
  display: flex;
  flex-direction: row;

  .main-left-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .main-container-row {
      display: flex;
    }

    .main-box-wide {
      aspect-ratio: 2 / 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .main-title {
        font-size: 3rem;
      }
    }
  }

  .main-box {
    flex: 1;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.join-section {
  display: flex;
  color: white;

  .join-left-container,
  .join-right-container {
    flex: 1;
  }

  .join-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 3rem;

    .join-title {
      font-size: 2.5rem;
      text-align: center;
    }

    .join-text {
      font-size: 1.25rem;
      letter-spacing: 2px;
      line-height: 1.5rem;
    }

    .join-button {
      align-self: flex-end;
      padding: 1rem 2rem;
      cursor: pointer;
      border: 2px solid white;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      font-size: 1.25rem;
      background-color: transparent;
      transition: all 0.3s ease;
    }

    .join-button:hover {
      transform: translateY(-2px);
    }

    .join-button:active {
      transform: scale(0.9);
    }
  }

  .join-right-container {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .join-image {
      width: 80%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }
}

.page-footer {
  display: flex;
  height: 60vh;
  padding: 0 3rem;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;

  .footer-title {
    font-weight: 400;
    font-size: 1.75rem;
  }

  .footer-section {
    display: flex;
    gap: 5rem;

    .footer-article {
      flex: 1;
      color: white;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;

      .footer-subtitle,
      .footer-text {
        font-size: 1.25rem;
      }
    }
  }
}
